<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>精准弹窗控制平台投放广告报告</title>
	
	<link rel="stylesheet" href="/resources/css/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	
	<![endif]-->
	<script src="/resources/js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="/resources/js/hideshow.js" type="text/javascript"></script>
	<script src="/resources/js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/resources/js/jquery.equalHeight.js"></script>
	<script src="/resources/js/common.js" type="text/javascript"></script>
	<script type="text/javascript" src="/resources/js/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>
</head>
<body>
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="role.html"><img src="/resources/assets/index_logo.png" style="position:relative;top:8px; width:300px;"/></a></h1>
			<h2 class="section_title"></h2><div class="btn_view_site"><a href="login.html">注销</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
	<section id="secondary_bar">
		<div class="user">
			<p>John Doe (<a href="#">3 Messages</a>)</p>
			<!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="role.html">首页</a> <div class="breadcrumb_divider"></div> <a class="current">投放广告报告</a></article>
		</div>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
		<hr/>
		<!--<h3>角色管理</h3>
		<ul class="toggle">
			<li class="icn_add_user"><a href="#">Add New User</a></li>
			<li class="icn_view_users"><a href="#" class="current_a">角色维护</a></li>
			<!--<li class="icn_profile"><a href="#">Your Profile</a></li>
		</ul>-->
		<h3>广告审核管理</h3>
		<ul class="toggle">
			<li class="icn_view_users"><a href="role.html" class="none_current">角色维护</a></li>
			<li class="icn_new_article"><a href="check_soon.html" class="none_current">待审核管理</a></li>
			<!--<li class="icn_edit_article"><a href="#" class="none_current">审核失败管理</a></li>-->
			<li class="icn_categories"><a href="check_history.html" class="none_current">审核进度查看</a></li>
			<!--<li class="icn_tags"><a href="#">Tags</a></li>-->
		</ul>
		<h3>广告统计管理</h3>
		<ul class="toggle">
			<li class="icn_folder"><a href="ad_count.html" class="none_current">广告统计列表查看</a></li>
			<li class="icn_photo"><a href="put_detail.html" class="none_current">广告投放明细</a></li>
			<li class="icn_audio"><a href="put_report.html" class="current_a">广告投放报告</a></li>
			<!--<li class="icn_video"><a href="#">Video</a></li>-->
		</ul>
		<h3>广告投放管理</h3>
		<ul class="toggle">
			<li class="icn_settings"><a href="whiteList.html" class="none_current">域名白名单管理</a></li>
			<li class="icn_security_2"><a href="people_whiteList.html" class="none_current">用户白名单管理</a></li>
			<li class="icn_jump_back"><a href="put_control.html" class="none_current">投放控制设置</a></li>
		</ul>
		<h3>账户管理</h3>
		<ul class="toggle">
			<li class="icn_settings"><a href="agent_manager.html" class="none_current">代理商子账户管理</a></li>
			<li class="icn_security"><a href="sys_agent_manager.html" class="none_current">管理员账户管理</a></li>
			<!--<li class="icn_jump_back"><a href="#">Logout</a></li>-->
		</ul>
	</aside><!-- end of sidebar -->
	
	<section id="main" class="column">
		<div class="module_content">
			<span class="search_span">时间筛选：</span>
			<a href="#" class="report_a">今天</a>
			<span class="report_line">|</span>
			<a href="#" class="report_a">昨天</a>
			<span class="report_line">|</span>
			<a href="#" class="report_a">本周</a>
			<span class="report_line">|</span>
			<a href="#" class="report_a">上周</a>
			<span class="report_line">|</span>
			<a href="#" class="report_a">本月</a>
			<span class="report_line">|</span>
			<a href="#" class="report_a">上月</a>			
		</div>
		<div class="module_content">
			<span class="search_span">自定义时间:</span>
			<span class="custom_begin">从</span>
			<input id="start_date" name="startTime" type="text" class="Wdate" value="" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'end_date\')}'})" readonly="readonly" />
			<span class="custom_begin">到</span>
			<input id="end_date" name="endTime" 　type="text" class="Wdate" value="" onclick="WdatePicker({minDate:'#F{$dp.$D(\'start_date\')}'})" readonly="readonly" />
		</div>
		<div class="module_content">
			<span class="search_span">代理商账户:</span>
			<select style="margin-left:8px;">
				<option>--请选择--</option>
				<option>游戏代理商</option>
				<option>视频代理商</option>
				<option>广告代理商</option>
				<option>网游代理商</option>
			</select>
			<input type="submit" value="查询" class="alt_btn" style="margin-left:38px">
		</div>
		<article class="module width_3_quarter">
			<header>
			<h3 class="tabs_involved">图表对比走势图</h3>
			<ul class="tabs">
				<li><a href="#tab1">展现量</a></li>
				<li><a href="#tab2">点击量</a></li>
			</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
				<div class="module_content">
					<article class="stats_graph">
						<img src="assets/chart.png" width="520" height="140" alt="" />
					</article>
					<article class="stats_overview">
						<div class="overview_today">
							<p class="overview_day">Today</p>
							<p class="overview_count">1,876</p>
							<p class="overview_type">Hits</p>
							<p class="overview_count">2,103</p>
							<p class="overview_type">Views</p>
						</div>
						<div class="overview_previous">
							<p class="overview_day">Yesterday</p>
							<p class="overview_count">1,646</p>
							<p class="overview_type">Hits</p>
							<p class="overview_count">2,054</p>
							<p class="overview_type">Views</p>
						</div>
					</article>
					<div class="clear"></div>
				</div>
			</div><!-- end of #tab1 -->
			
			<div id="tab2" class="tab_content">
				<div class="module_content">
					<article class="stats_graph">
						<img src="assets/click.png" width="520" height="140" alt="" />
					</article>
					<article class="stats_overview">
						<div class="overview_today">
							<p class="overview_day">Today</p>
							<p class="overview_count">1,876</p>
							<p class="overview_type">Hits</p>
							<p class="overview_count">2,103</p>
							<p class="overview_type">Views</p>
						</div>
						<div class="overview_previous">
							<p class="overview_day">Yesterday</p>
							<p class="overview_count">1,646</p>
							<p class="overview_type">Hits</p>
							<p class="overview_count">2,054</p>
							<p class="overview_type">Views</p>
						</div>
					</article>
					<div class="clear"></div>
				</div>
			</div><!-- end of #tab2 -->
			
		</div><!-- end of .tab_container -->
		
		</article>
		<article class="module width_3_quarter">
			<div class="tab_container">
				<table class="tablesorter" cellspacing="0"> 
					<thead> 
						<tr> 
							<th><input type="checkbox" /></th> 
							<th>广告名称</th> 
							<th>展现量</th> 
							<th>点击量</th> 
							<th>点击率</th> 
							<th>移动端展现量</th> 
							<th>移动端点击量</th> 
							<th>独立访客</th>
							<th>独立IP</th> 							
							<th>累计消耗金额</th> 							
						</tr> 
					</thead> 
					<tbody> 
						<tr class="tbody_tr"> 
							<td><input type="checkbox" /></td> 
							<td>学大-红色-0919-403</td> 
							<td>12312</td> 
							<td>1232</td> 
							<td>10%</td> 
							<td>3455</td> 
							<td>2342</td> 
							<td>123</td> 
							<td>222.45.36</td> 
							<td>234222.36</td> 
						</tr> 
						<tr class="tbody_tr"> 
							<td><input type="checkbox" /></td> 
							<td>学大-红色-0919-403</td> 
							<td>12311</td> 
							<td>1232</td> 
							<td>10%</td> 
							<td>3455</td> 
							<td>2342</td> 
							<td>123</td> 
							<td>222.45.36</td>
							<td>234222.36</td>							
						</tr>
						<tr class="tbody_tr"> 
							<td><input type="checkbox" /></td> 
							<td>学大-红色-0919-403</td> 
							<td>12310</td> 
							<td>1232</td> 
							<td>10%</td> 
							<td>3455</td> 
							<td>2342</td> 
							<td>123</td> 
							<td>222.45.36</td>
							<td>234222.36</td>
						</tr> 
						<tr class="tbody_tr"> 
							<td><input type="checkbox" /></td> 
							<td>学大-红色-0919-403</td> 
							<td>12309</td> 
							<td>1232</td> 
							<td>10%</td> 
							<td>3455</td> 
							<td>2342</td> 
							<td>123</td> 
							<td>222.45.36</td>
							<td>234222.36</td>
						</tr>
						<tr class="tbody_tr"> 
							<td><input type="checkbox" /></td> 
							<td>学大-红色-0919-403</td> 
							<td>12308</td> 
							<td>1232</td> 
							<td>10%</td> 
							<td>3455</td> 
							<td>2342</td> 
							<td>123</td> 
							<td>222.45.36</td>
							<td>234222.36</td>
						</tr>  
					</tbody> 
				</table>
			</div>
		</article>
		<input id="" type="submit" value="批量导出" style="margin-left:3%;margin-top:10px;"/>
	</section>
		<div id="floatBoxBg"></div>
		<!--添加弹层-->
		<form action="" method="get">
		<div class="tcLsyer" style="display:none;">
			<div class="tcLsyer_title">
				<span class="is_check">角色添加</span>
				<a href="#" class="close"></a>
			</div>
			<div class="tcLsyer_content">
				<div class="content_DIV">
					<span class="span">角色名称：</span>
					<input type="text" name="text" class="tc_inp" />
					<span class="tips">*角色名称不能为空</span>
				</div>
				<div class="content_DIV">
					<span class="span">用户姓名：</span>
					<input type="text" name="text" class="tc_inp" />
					<span class="tips">*用户姓名不能为空</span>
				</div>
				<div class="content_DIV">
					<span class="span">所属部门：</span>
					<select>
						<option>--请选择--</option>
					</select>
					<span class="tips">*所属部门不能为空</span>
				</div>
				<div class="content_DIV">
					<span class="span">绑定账号：</span>
					<input type="text" name="text" class="tc_inp" />
					<span class="tips">*账号不能为空</span>
				</div>
				<div class="content_DIV">
					<span class="span">手机号码：</span>
					<input type="text" name="text" class="tc_inp" />
					<span class="tips">*手机号码不能为空</span>
				</div>
				<div class="content_DIV">
					<span class="span">Email：</span>
					<input type="text" name="text" class="tc_inp" />
					<span class="tips">*邮箱不能为空</span>
				</div>
				<div class="content_DIV">
					<input type="submit" value="确定" class="alt_btn" style="margin-left:20%;"/>
					<input type="reset" value="重置" />
				</div>
			</div>
		</div>
		</form>
			
		
		<!--修改弹层-->
		
			<div class="tcLsyer_all" style="display:none;">
				<div class="tcLsyer_title">
					<span class="is_check">角色修改</span>
					<a href="#" class="close_all"></a>
				</div>
				<div class="tcLsyer_content">
					<div class="content_DIV">
						<span class="span">角色名称：</span>
						<input type="text" name="text" class="tc_inp" value="放风筝的人" />
						<span class="tips">*角色名称不能为空</span>
					</div>
					<div class="content_DIV">
						<span class="span">用户姓名：</span>
						<input type="text" name="text" class="tc_inp" value="放风筝的人" />
						<span class="tips">*用户姓名不能为空</span>
					</div>
					<div class="content_DIV">
						<span class="span">所属部门：</span>
						<select>
							<option>业务部门</option>
						</select>
						<span class="tips">*所属部门不能为空</span>
					</div>
					<div class="content_DIV">
						<span class="span">绑定账号：</span>
						<input type="text" name="text" class="tc_inp" value="23433453"/>
						<span class="tips">*账号不能为空</span>
					</div>
					<div class="content_DIV">
						<span class="span">手机号码：</span>
						<input type="text" name="text" class="tc_inp" value="1324534578"/>
						<span class="tips">*手机号码不能为空</span>
					</div>
					<div class="content_DIV">
						<span class="span">Email：</span>
						<input type="text" name="text" class="tc_inp" value="1233@hotmail.com"/>
						<span class="tips">*邮箱不能为空</span>
					</div>
					<div class="content_DIV">
						<input type="submit" value="确定" class="alt_btn" style="margin-left:20%;"/>
						<input type="reset" name="button" value="重置" />
					</div>
				</div>
			</div>
		
</body>

</html>