/*查询条件间距*/
.form-inline .form-group {
    margin: 4px 8px 4px 0px;
}

/*模态框垂直居中*/
.modal {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/*treeview check选中后， 高亮颜色*/
.treeview .node-checked {
    color: #dd4b39!important;
}